*{
    margin: 0;
    border: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(255, 255, 255);
}


/* Barra de Navegação */

nav {
    display: flex;
    background: rgb(86,182,203);
    height: 18vh;
    border-bottom: 2px solid black;
}


.logo {
    width: 225px;
    border: 2px solid black;
    margin: 0 auto;
}

/* Menu de Escolhas */


.menu{
    background-color: white;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    height: 70vh;
    align-items: center;
    border: 1px solid yellow;
}

.conteudo{
    background-color: rgba(185, 185, 185, 1);
    border: 1px solid black;
    border-radius: 50px;
    height: 60%;
    width: 35%;
    text-align: center;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.imputs{
    border: 1px solid red;
}